.chooseUs_section {
    padding-block-end: 5rem;
}

.chooseUs_wrapper {
    width: min(1140px, 100%);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.chooseUs_wrapper > * {
    width: 50%;
}

.chooseUs_article {
    padding: 3rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease;
}

.chooseUs_article > h6 {
    font-size: 1rem;
    text-align: left;
    margin-block-end: 1.25rem;
}

.chooseUs_article > h2 {
    font-size: 2rem;
    text-align: left;
    margin-block-end: 1.25rem;
}

.chooseUs_article > p {
    line-height: 1.7;
    text-align: left;
    margin-block-end: 1.25rem;
}

.chooseUs_article--card {
    list-style: none;
    display: flex;
    margin-block-end: 1.25rem;
}

.chooseUs_article--card:last-of-type {
    margin: 0;
}

.chooseUs_article--card > div {
    margin-inline-end: 1.25rem;
}

.chooseUs_article--card h5 {
    font-size: 23px;
    line-height: 1.3;
    text-align: left;
}

.chooseUs_article--card p {
    line-height: 1.7;
    text-align: left;
    margin-block-end: 0.625rem;
}

.chooseUs_figure {
    padding: 0.625rem;
    height: max-content;
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s ease;
}

.chooseUs_show {
    opacity: 1;
    transform: translate(0%);
}

@media (max-width: 1024px) {

    .chooseUs_section {
        padding-block-end: 0;
    }

    .chooseUs_wrapper > * {
        width: 100%;
    }

    .chooseUs_figure {
        order: -1;
    }
}

@media (max-width: 767px) {
    .chooseUs_article {
        padding: 2rem;
    }
}