.services_section {
    padding-block-end: 5rem;
}

.services_wrapper{
    width: min(1140px, 100%);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.services_wrapper > * {
    width: 100%;
}

.services_h6 {
    font-size: 1rem;
    margin-block-end: 1.25rem;
}

.services_h2 {
    font-size: 34px;
    margin-block-end: 1.25rem;
}

.services_container {
    display: flex;
    flex-wrap: wrap;
}

.services_container > figure {
    width: calc(100%/3);
    padding: 42px;
    
}

.services_container > figure > h3 {
    font-size: 23px;
    line-height: 1.3;
}

.services_container > figure svg {
    box-sizing: content-box;
    margin-block-end: 13px;
    padding: 10px;
}

@media (max-width: 1024px) {
    .services_container > figure {
        width: 50%;
    }
}

@media (max-width: 767px) {

    .services_section {
        padding-block: 2rem;
    }

    .services_container > figure {
        width: 100%;
    }
}